<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DigitalInventory.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="DigitalInventory.Properties.Settings.InventoryConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Inventory.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <DigitalInventory.Properties.Settings>
            <setting name="SaveLocalFiles" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="LocalFilesDirectory" serializeAs="String">
                <value />
            </setting>
            <setting name="BulkRarePrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BulkFoilRarePrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BulkMythicPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BulkFoilMythicPrice" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BulkRarePriceThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BulkFoilRarePriceThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BulkMythicPriceThreshold" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BulkFoilMythicPriceThreshold" serializeAs="String">
                <value>0</value>
            </setting>
        </DigitalInventory.Properties.Settings>
    </userSettings>
</configuration>